@import url('https://fonts.googleapis.com/css?family=Lora|Merriweather|Fjalla+One');
/* Import another stylesheet from within a stylesheet */
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  /*To hide the horizontal scroller appearing during the animation*/
  overflow-x: hidden;
}

html {
  font-family: 'Lora', serif;
  font-size: 18px; /*font size for the whole html page*/
  line-height: 2; /*line to line space*/
}
/* Apply this style only for printing */

@media (max-width: 520px) {
  html {
    font-size: 16px;
  }
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h4 {
  font-family: 'Merriweather', sans-serif;
}

p {
  text-indent: 2rem;
  margin: 0;
}

figure {
  margin: 1rem 0;
}
figure figcaption {
  font-weight: bold;
  letter-spacing: -0.03rem;
}
figure img {
  margin: 0 0 5px 0;
}


.bigtext{
  font-size: 15px;
}


img {
  max-width: 100%;
  display: block;
}

.header-lockup {
  padding: 100;
}

.page-wrap { /*for the whole magazine page*/
  max-width: 1270px;
  margin: 20px auto;
  padding: 15px 20px 15px 6px;
}

.article-header {
  text-align: center;
}
@media (max-width: 720px) {
  .article-header h2 {
    font-size: 1.2rem;
    margin: 5px;
  }
}

/*.classification-header {
  text-transform: uppercase;
  color: #FF5733 ;
  letter-spacing: 0.1rem;
  padding: -50px;
}*/

.intro-ps {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2; /*separate 2 columns*/
 margin: 0 0 2rem 0rem;/* for the whole div intro-ps part
*/}
.intro-ps > p:first-child {
  text-indent: 0;
}
.intro-ps > p:first-child strong {
  font-size: 125%;
  letter-spacing: -1px;
  line-height: -2;
}
@media (max-width: 520px) {
  .intro-ps {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
}

.in-brief {
  text-align: center;
  margin: 0 0 2rem 0;
}
.in-brief h3 {
  text-transform: uppercase;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: inline-block;
  padding: 0 20px;
  color: #999;
  letter-spacing: 0.2rem;
  font-size: 80%;
  margin: 0;
  background: white;
  position: relative;
  top: 1px;
}

.in-brief-content {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  font-size: 0.8rem;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
}
@media (max-width: 520px) {
  .in-brief-content {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}

.article-header {
  padding: 0 50px;
  margin: 0 0 30px 0;
}

.byline {
  font-style: italic; /*author information*/
}

.article-body {
  font-size: 0.8rem;
  max-width: 1270px;
  margin: auto;
}
.article-body h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
}


/*Time to finalise the cloud shape*/
.leaf {
  position:relative;
  width:70px;
  height:720px;
  margin: 0;
}

#left {
  float:left;
}

#right {
  float:right;
}

#autumnleaf {
  width:50px;
  height:50px;
  position: relative;
  display: inline-block;
}
.leaf img{
  width: 500px;
  position: absolute;
  -webkit-transform: scale3d(1,1,1) rotateZ(50deg);
  -webkit-animation: falling 10s ease-in-out ;
}

@-webkit-keyframes falling{
  0%   { top:0%; left: 0%; -webkit-transform: scale3d(1,.5,1) rotateZ(90deg); }
  25%  { top:30%; left: 90%; -webkit-transform: scale3d(1,.3,4) rotateZ(00deg); }
  50%  { top:60%; left: 10%; -webkit-transform: scale3d(1,.2,1) rotateZ(90deg); }
  75%  { top:80%; left: 80%; opacity:1; -webkit-transform: scale3d(1,.3,1) rotateZ(0deg); }
  100% { top:100%; left: 20%; opacity:1; -webkit-transform: scale3d(1,.2,1) rotateZ(90deg);}
}


/*span{
  color:#e64040;
}*/

/*animation part
*/
#headcircle{
  width: 500px;
  position: absolute;
  -webkit-transform: translate(0px) ;
  -webkit-animation: rolling 3s ease-in-out ;
}

@-webkit-keyframes rolling{
  0%   { opacity:0; -webkit-transform: translate(0px) }
  20%  { opacity:0; -webkit-transform: translate(250px) }
  30%  { opacity:0.2; -webkit-transform: translate(-120px) }
  40%  { opacity:0.4; -webkit-transform: translate(100px) }
  50%  { opacity:0.5; -webkit-transform: translate(-80px) }
  60%  { opacity:0.6; -webkit-transform: translate(60px) }
  70%  { opacity:0.7; -webkit-transform: translate(-20px) }
  80%  { opacity:0.8; -webkit-transform: translate(10px) }
  100% { -webkit-transform: translate(0px) }
}

 